# Xcode
build/
DerivedData/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.xcodeproj

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods
Pods/
Podfile.lock

# macOS
.DS_Store
*.swp
*~
.fseventsd
.Spotlight-V100
.Trashes

# IDE
*.idea/
*.vscode/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives & IPAs
*.ipa
*.dSYM.zip
*.dSYM

vendor/

# Test Results
TestResults/
TestResults.xcresult
UITestResults/
UITestResults.xcresult

# Misc
*.orig
*.bak
